.inhalt h2 {
    color: #222;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    margin-top: 22px;
}

.inhalt p, .inhalt li {
    color: #3D3D3D;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 4  00;
    line-height: normal;
    margin: 0;
    margin-top: 14px;
}

.inhalt ul {
    margin: 14px 0;
}

.inhalt table {
    margin: 20px 0 !important;
}

.inhalt img {
    width: 80%;
    height: auto;
}