.dateienCtn {
    width: 100%;
    margin-top: 160px;
    padding: 0 0;
    display: flex;
    justify-content: center;
}

.dateienCtn .innerDiv {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: [first] 62% [second] 32%;
    grid-gap: 0 6%;
}

.ags {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));
    grid-gap: 22px 2%;
}